# **PROJECT STATEMENT:**
A bank has given data of user’s bank wants you to make a model that can be used to predict customer defaulter on his EMI payment.

In [ ]:
#importing required libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import math
from pandas.plotting import scatter_matrix
import statsmodels.api as sm
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
import scipy.stats

In [ ]:

import matplotlib.pyplot as plt
import scipy.stats

In [ ]:
data=pd.read_csv('Train.csv')

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (746,835) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [ ]:
data.shape

(17521, 2395)

In [ ]:
col=data.columns
col

Index(['Col1', 'Col2', 'Col3', 'Col4', 'Col5', 'Col6', 'Col7', 'Col8', 'Col9',
       'Col10',
       ...
       'Col2388', 'Col2389', 'Col2390', 'Col2391', 'Col2392', 'Col2393',
       'Col2394', 'Col2395', 'Col2396', 'Col2397'],
      dtype='object', length=2395)

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17521 entries, 0 to 17520
Columns: 2395 entries, Col1 to Col2397
dtypes: float64(844), int64(1548), object(3)
memory usage: 320.2+ MB

In [ ]:
object_columns = data.select_dtypes(include=['object']).columns

In [ ]:
print('\nobject columns:\n', object_columns)

object columns:
 Index(['Col1', 'Col747', 'Col836'], dtype='object')

In [ ]:
data=data.drop(['Col747','Col836'],axis=1)

In [ ]:
print(data.isnull().sum())

Col1          0
Col2          0
Col3          0
Col4          0
Col5          0
           ...
Col2393    1174
Col2394    1186
Col2395    1174
Col2396    1174
Col2397    1186
Length: 2393, dtype: int64

In [ ]:
data=data.drop(['Col1'],axis=1)
data

,Col2,Col3,Col4,Col5,Col6,Col7,Col8,Col9,Col10,Col11,...,Col2388,Col2389,Col2390,Col2391,Col2392,Col2393,Col2394,Col2395,Col2396,Col2397
0,1,1.086711e+04,8.648345e+03,1.576618e+04,2.890466e+04,5.273655e+03,2.346153e+04,1.285597e+04,2.871509e+04,9.114586e+03,...,0,1,0,1,214.0,214.0,68.0,22.0,22.0,7.0
1,0,2.584312e+05,2.179633e+05,1.866287e+05,1.866287e+05,2.154519e+05,1.923615e+05,1.726538e+05,1.666974e+05,2.013518e+05,...,0,0,0,0,41.0,41.0,38.0,12.0,12.0,11.0
2,0,1.459355e+07,1.260060e+07,1.100315e+07,1.010315e+07,1.879882e+07,1.514035e+07,5.320778e+06,6.906324e+06,9.368338e+06,...,0,1,1,0,378.0,378.0,310.0,21.0,21.0,16.0
3,0,6.727043e+05,8.181116e+05,6.794893e+05,6.794893e+05,8.257254e+05,7.605803e+05,3.577134e+05,4.236612e+05,4.304848e+05,...,0,0,0,0,702.0,702.0,644.0,951.0,951.0,743.0
4,0,-1.218742e+06,-3.005361e+06,-1.666241e+05,-2.403574e+06,2.583183e+06,2.086546e+06,5.938358e+06,5.446532e+06,3.473444e+06,...,0,0,0,0,1305.0,1305.0,1211.0,2205.0,2205.0,1831.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17516,0,9.404683e+03,3.726288e+03,3.726288e+03,7.445963e+03,2.017008e+04,4.034016e+04,5.107963e+03,4.950751e+03,2.040694e+04,...,0,0,0,0,38.0,35.0,25.0,14.0,11.0,6.0
17517,0,6.563830e+04,1.910968e+04,1.761840e+04,3.523681e+04,4.639897e+03,1.422805e+04,4.775029e+04,6.006875e+04,1.032587e+04,...,1,0,1,0,155.0,145.0,90.0,31.0,21.0,12.0
17518,0,4.220941e+04,3.173771e+04,2.539017e+04,2.539017e+04,1.005050e+04,8.040400e+03,4.354578e+04,4.097184e+04,1.594774e+02,...,0,0,0,0,2.0,2.0,2.0,4.0,4.0,2.0
17519,0,7.048496e+04,9.814610e+04,9.814610e+04,1.080079e+05,1.317389e+05,1.359192e+05,5.724762e+04,5.605762e+04,7.384116e+04,...,0,1,0,1,35.0,34.0,11.0,10.0,9.0,4.0
17520,0,1.019198e+04,1.014426e+04,1.014426e+04,1.014426e+04,1.036962e+04,1.036962e+04,8.730599e+01,8.730599e+01,3.925842e+02,...,0,0,0,0,2.0,2.0,2.0,4.0,4.0,3.0

In [ ]:
data.corr()

,Col2,Col3,Col4,Col5,Col6,Col7,Col8,Col9,Col10,Col11,...,Col2388,Col2389,Col2390,Col2391,Col2392,Col2393,Col2394,Col2395,Col2396,Col2397
Col2,1.000000,-0.030748,-0.027851,-0.030471,-0.030489,-0.028520,-0.030561,-0.000675,0.009056,-0.005278,...,0.010743,0.005708,0.003586,-0.003835,0.033681,0.033394,0.023931,0.002156,0.000963,-0.000036
Col3,-0.030748,1.000000,0.982237,0.900193,0.988359,0.982670,0.982962,-0.464821,-0.701978,-0.264779,...,-0.002670,0.002034,-0.001152,0.001850,-0.069133,-0.072543,-0.103986,-0.026519,-0.028209,-0.040184
Col4,-0.027851,0.982237,1.000000,0.921953,0.993567,0.994026,0.992919,-0.447950,-0.710775,-0.250169,...,0.000342,0.003531,0.001812,0.002934,-0.067155,-0.069008,-0.102781,-0.038453,-0.039823,-0.053991
Col5,-0.030471,0.900193,0.921953,1.000000,0.919360,0.906248,0.915298,-0.348940,-0.610845,-0.153207,...,-0.006211,-0.001801,-0.004862,-0.002794,-0.041949,-0.043769,-0.076711,-0.011324,-0.012808,-0.024583
Col6,-0.030489,0.988359,0.993567,0.919360,1.000000,0.987704,0.992882,-0.410729,-0.678968,-0.218232,...,-0.002630,0.001928,-0.001232,0.001879,-0.068222,-0.071328,-0.106441,-0.036374,-0.038529,-0.053627
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Col2393,0.033394,-0.072543,-0.069008,-0.043769,-0.071328,-0.055124,-0.057961,0.095663,0.094135,0.070428,...,0.430621,0.372948,0.433682,0.378077,0.998087,1.000000,0.922617,0.562599,0.560360,0.486062
Col2394,0.023931,-0.103986,-0.102781,-0.076711,-0.106441,-0.081947,-0.086659,0.135436,0.136097,0.096402,...,0.367440,0.327546,0.366881,0.326182,0.917061,0.922617,1.000000,0.558842,0.561863,0.559381
Col2395,0.002156,-0.026519,-0.038453,-0.011324,-0.036374,0.001636,-0.002905,0.171525,0.126946,0.095300,...,0.165266,0.149724,0.169234,0.157177,0.563441,0.562599,0.558842,1.000000,0.998623,0.957110
Col2396,0.000963,-0.028209,-0.039823,-0.012808,-0.038529,0.000510,-0.004430,0.170037,0.126672,0.093626,...,0.164821,0.148556,0.168591,0.155680,0.559030,0.560360,0.561863,0.998623,1.000000,0.961784
Col2397,-0.000036,-0.040184,-0.053991,-0.024583,-0.053627,-0.008594,-0.014795,0.188906,0.144524,0.102982,...,0.119619,0.111804,0.119926,0.114510,0.482788,0.486062,0.559381,0.957110,0.961784,1.000000

In [ ]:
# import pandas as pd
# import numpy as np

# def clean_dataset(df):
#     assert isinstance(df, pd.DataFrame), "df needs to be a pd.DataFrame"
#     df.dropna(inplace=True)
#     indices_to_keep = ~df.isin([np.nan, np.inf, -np.inf]).any(1)
#     return df[indices_to_keep].astype(np.float64)

In [ ]:
# clean_dataset

In [ ]:
shape=data.shape
shape

(17521, 2392)

In [ ]:
data.drop(['Col2'],axis=1)
x_train=data

In [ ]:
x_train

,Col2,Col3,Col4,Col5,Col6,Col7,Col8,Col9,Col10,Col11,...,Col2388,Col2389,Col2390,Col2391,Col2392,Col2393,Col2394,Col2395,Col2396,Col2397
0,1,1.086711e+04,8.648345e+03,1.576618e+04,2.890466e+04,5.273655e+03,2.346153e+04,1.285597e+04,2.871509e+04,9.114586e+03,...,0,1,0,1,214.0,214.0,68.0,22.0,22.0,7.0
1,0,2.584312e+05,2.179633e+05,1.866287e+05,1.866287e+05,2.154519e+05,1.923615e+05,1.726538e+05,1.666974e+05,2.013518e+05,...,0,0,0,0,41.0,41.0,38.0,12.0,12.0,11.0
2,0,1.459355e+07,1.260060e+07,1.100315e+07,1.010315e+07,1.879882e+07,1.514035e+07,5.320778e+06,6.906324e+06,9.368338e+06,...,0,1,1,0,378.0,378.0,310.0,21.0,21.0,16.0
3,0,6.727043e+05,8.181116e+05,6.794893e+05,6.794893e+05,8.257254e+05,7.605803e+05,3.577134e+05,4.236612e+05,4.304848e+05,...,0,0,0,0,702.0,702.0,644.0,951.0,951.0,743.0
4,0,-1.218742e+06,-3.005361e+06,-1.666241e+05,-2.403574e+06,2.583183e+06,2.086546e+06,5.938358e+06,5.446532e+06,3.473444e+06,...,0,0,0,0,1305.0,1305.0,1211.0,2205.0,2205.0,1831.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17516,0,9.404683e+03,3.726288e+03,3.726288e+03,7.445963e+03,2.017008e+04,4.034016e+04,5.107963e+03,4.950751e+03,2.040694e+04,...,0,0,0,0,38.0,35.0,25.0,14.0,11.0,6.0
17517,0,6.563830e+04,1.910968e+04,1.761840e+04,3.523681e+04,4.639897e+03,1.422805e+04,4.775029e+04,6.006875e+04,1.032587e+04,...,1,0,1,0,155.0,145.0,90.0,31.0,21.0,12.0
17518,0,4.220941e+04,3.173771e+04,2.539017e+04,2.539017e+04,1.005050e+04,8.040400e+03,4.354578e+04,4.097184e+04,1.594774e+02,...,0,0,0,0,2.0,2.0,2.0,4.0,4.0,2.0
17519,0,7.048496e+04,9.814610e+04,9.814610e+04,1.080079e+05,1.317389e+05,1.359192e+05,5.724762e+04,5.605762e+04,7.384116e+04,...,0,1,0,1,35.0,34.0,11.0,10.0,9.0,4.0
17520,0,1.019198e+04,1.014426e+04,1.014426e+04,1.014426e+04,1.036962e+04,1.036962e+04,8.730599e+01,8.730599e+01,3.925842e+02,...,0,0,0,0,2.0,2.0,2.0,4.0,4.0,3.0

In [ ]:
x_train=data

In [ ]:
df=x_train

In [ ]:
data = np.random.normal(size=shape)

data[:, 1000] += data[:, 2000]

df = pd.DataFrame(data)

c = df.corr().abs()

s = c.unstack()
so = s.sort_values(kind="quicksort")

print (so[-17521:-2394])

2317  1567    0.022765
324   917     0.022765
917   324     0.022765
2154  1321    0.022765
1321  2154    0.022765
                ...
1931  583     0.037115
581   828     0.037738
828   581     0.037738
337   1981    0.038499
1981  337     0.038499
Length: 15127, dtype: float64

In [ ]:
# x_train.round().astype(int)

In [ ]:
y_train=x_train.Col2

In [ ]:
y_train

0        1
1        0
2        0
3        0
4        0
        ..
17516    0
17517    0
17518    0
17519    0
17520    0
Name: Col2, Length: 17521, dtype: int64

# **RANDOMN FOREST REGRESSION:**
A random forest regressor.

A random forest is a meta estimator that fits a number of classifying decision trees on various sub-samples of the dataset and uses averaging to improve the predictive accuracy and control over-fitting. 

Random Forest Regression is a supervised learning algorithm that uses ensemble learning method for regression. Ensemble learning method is a technique that combines predictions from multiple machine learning algorithms to make a more accurate prediction than a single model.
 
# **RANDOM FOREST IS PERFECT FOR PREDICTICTING VALUES IN A LARGE DATSET**
Steps involved in Random Forests:

Step 1: Identify your dependent (y) and independent variables (X)

Step 2: Split the dataset into the Training set and Test set

Step 3: Training the Random Forest Regression model on the whole dataset

Step 4: Predicting the Test set results

In [ ]:
from sklearn.ensemble import RandomForestRegressor
model_rfc=RandomForestRegressor(n_estimators=10)
np.any(np.isnan(x_train))
np.all(np.isfinite(x_train))
model_rfc.fit(x_train,y_train)

In [ ]:
x_test=pd.read_csv('Test.csv')

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (700,731,740,752,761,789,811,820,829,841,850) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [ ]:
x_test=x_test.drop(['Col1'],axis=1)

In [ ]:
x_test

,Col3,Col4,Col5,Col6,Col7,Col8,Col9,Col10,Col11,Col12,...,Col2388,Col2389,Col2390,Col2391,Col2392,Col2393,Col2394,Col2395,Col2396,Col2397
0,8.167140e+04,8.614542e+04,7.532296e+04,7.532296e+04,1.125174e+05,1.002778e+05,2.038915e+04,3.053853e+04,8.395911e+04,8.138800e+04,...,0,0,0,0,44.0,44.0,23.0,41.0,41.0,36.0
1,-1.362824e+07,-4.493043e+06,-3.777257e+06,-4.493043e+06,-4.749764e+06,-4.749764e+06,1.147556e+07,1.147556e+07,1.272055e+07,1.272055e+07,...,1,1,2,2,1234.0,1234.0,680.0,154.0,153.0,86.0
2,1.302700e+06,1.341449e+06,1.240085e+06,1.341449e+06,1.477503e+06,1.477503e+06,3.904086e+05,3.904086e+05,4.979106e+05,4.979106e+05,...,0,0,0,0,33.0,24.0,19.0,3.0,1.0,1.0
3,1.932258e+05,1.454433e+05,1.929148e+05,1.454433e+05,1.318250e+04,1.318250e+04,8.650108e+04,8.650108e+04,5.896693e+03,5.896693e+03,...,0,0,0,0,8.0,8.0,3.0,7.0,7.0,3.0
4,3.913385e+05,1.987337e+05,1.703432e+05,1.987337e+05,3.046536e+05,3.046536e+05,2.528307e+05,2.528307e+05,3.034449e+05,3.034449e+05,...,0,0,0,0,7.0,7.0,7.0,6.0,6.0,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20437,3.862726e+04,3.501103e+04,2.825183e+04,2.813549e+04,3.670330e+04,3.316264e+04,6.330923e+03,1.489258e+04,4.805880e+03,8.293973e+03,...,0,0,0,0,6.0,6.0,4.0,5.0,5.0,1.0
20438,2.578050e+04,1.933538e+04,1.546830e+04,1.546830e+04,1.948715e+04,1.558972e+04,1.313231e+04,1.407065e+04,1.288176e+04,1.391815e+04,...,0,1,0,1,9.0,9.0,9.0,7.0,7.0,7.0
20439,1.755580e+05,1.406457e+05,1.125832e+05,1.125832e+05,1.253004e+05,1.022403e+05,6.141444e+04,7.859983e+04,6.033025e+04,7.103501e+04,...,1,2,1,2,27.0,27.0,18.0,10.0,10.0,5.0
20440,6.806643e+04,6.338058e+04,6.413642e+04,6.413642e+04,7.082305e+04,7.078595e+04,2.017906e+04,1.849832e+04,4.015468e+04,3.665613e+04,...,0,0,0,0,2.0,2.0,0.0,9.0,9.0,3.0
20441,-6.766640e+07,-6.416449e+07,-2.951962e+07,-5.160258e+07,-6.282747e+07,-5.448213e+07,6.802486e+06,2.652642e+07,4.465386e+06,2.930402e+07,...,0,0,0,0,1003.0,1003.0,849.0,85.0,85.0,72.0

In [ ]:
df1=x_test

In [ ]:
data = np.random.normal(size=shape)

data[:, 1000] += data[:, 2000]

df1 = pd.DataFrame(data)

c = df1.corr().abs()

s = c.unstack()
so = s.sort_values(kind="quicksort")

print (so[-17521:-2394])

2148  616     0.022744
2175  235     0.022744
235   2175    0.022744
1236  466     0.022744
466   1236    0.022744
                ...
1698  67      0.036956
1574  1612    0.037303
1612  1574    0.037303
1984  709     0.037475
709   1984    0.037475
Length: 15127, dtype: float64

In [ ]:
x_test

,Col3,Col4,Col5,Col6,Col7,Col8,Col9,Col10,Col11,Col12,...,Col2388,Col2389,Col2390,Col2391,Col2392,Col2393,Col2394,Col2395,Col2396,Col2397
0,8.167140e+04,8.614542e+04,7.532296e+04,7.532296e+04,1.125174e+05,1.002778e+05,2.038915e+04,3.053853e+04,8.395911e+04,8.138800e+04,...,0,0,0,0,44.0,44.0,23.0,41.0,41.0,36.0
1,-1.362824e+07,-4.493043e+06,-3.777257e+06,-4.493043e+06,-4.749764e+06,-4.749764e+06,1.147556e+07,1.147556e+07,1.272055e+07,1.272055e+07,...,1,1,2,2,1234.0,1234.0,680.0,154.0,153.0,86.0
2,1.302700e+06,1.341449e+06,1.240085e+06,1.341449e+06,1.477503e+06,1.477503e+06,3.904086e+05,3.904086e+05,4.979106e+05,4.979106e+05,...,0,0,0,0,33.0,24.0,19.0,3.0,1.0,1.0
3,1.932258e+05,1.454433e+05,1.929148e+05,1.454433e+05,1.318250e+04,1.318250e+04,8.650108e+04,8.650108e+04,5.896693e+03,5.896693e+03,...,0,0,0,0,8.0,8.0,3.0,7.0,7.0,3.0
4,3.913385e+05,1.987337e+05,1.703432e+05,1.987337e+05,3.046536e+05,3.046536e+05,2.528307e+05,2.528307e+05,3.034449e+05,3.034449e+05,...,0,0,0,0,7.0,7.0,7.0,6.0,6.0,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20437,3.862726e+04,3.501103e+04,2.825183e+04,2.813549e+04,3.670330e+04,3.316264e+04,6.330923e+03,1.489258e+04,4.805880e+03,8.293973e+03,...,0,0,0,0,6.0,6.0,4.0,5.0,5.0,1.0
20438,2.578050e+04,1.933538e+04,1.546830e+04,1.546830e+04,1.948715e+04,1.558972e+04,1.313231e+04,1.407065e+04,1.288176e+04,1.391815e+04,...,0,1,0,1,9.0,9.0,9.0,7.0,7.0,7.0
20439,1.755580e+05,1.406457e+05,1.125832e+05,1.125832e+05,1.253004e+05,1.022403e+05,6.141444e+04,7.859983e+04,6.033025e+04,7.103501e+04,...,1,2,1,2,27.0,27.0,18.0,10.0,10.0,5.0
20440,6.806643e+04,6.338058e+04,6.413642e+04,6.413642e+04,7.082305e+04,7.078595e+04,2.017906e+04,1.849832e+04,4.015468e+04,3.665613e+04,...,0,0,0,0,2.0,2.0,0.0,9.0,9.0,3.0
20441,-6.766640e+07,-6.416449e+07,-2.951962e+07,-5.160258e+07,-6.282747e+07,-5.448213e+07,6.802486e+06,2.652642e+07,4.465386e+06,2.930402e+07,...,0,0,0,0,1003.0,1003.0,849.0,85.0,85.0,72.0

In [ ]:
# x_test.round().astype(int)

In [ ]:
y_pred_rfc=model_rfc.predict(x_test)
y_pred

In [ ]:
y_test

In [ ]:
model_rfc.score(x,y)

# **WE USE CONFUSION MATRIX TO FIND ACCURACY OF THE MODEL **

In [ ]:
cm_RFr=confusion_matrix(y_pred_RFC,y_test)
cm_RFC

In [ ]:
Accuracy

# **CONCLUSION**:
This depicts my final project from Verzeo Machine learning with Python course.

--->The machine learning model gives basic insight in  predicting accurate values for the probabilty of an EMI repayment by a customer who has borrowed loan from Bank.

--->Pandas , sklearn ,numpy and many more libraries of python are used in building the machine learning model ,various techniques of exploration of data analysis and classification of data can be done with the help of these libraries .